.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: #3F7AD5 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }

body {
  background-color: #E7E7E7;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #A5C3D8;
  color: black;
  margin: 0px 0px 0px;
}

.social {
  width: 30px;
  height: 30px;
}

footer {
  border-top: 1px solid #14A3B8;
  text-align: center;
  background-color: #E7E7E7;
  width: 100%; bottom: 0px;
  z-index: 5;
}

.social_networks{
  margin:7px 0px 11px;
}

#auth{
  margin-bottom: 3px;
}



